#!/bin/bash
# copy this to .env, change appropriately
export DATABASE_URL="postgres://localhost:5432/mars_weather"
export DJANGO_SECRET_KEY="qp^2xo_(kiwv)+t500ljrhazx(wvt)16zbek1#e4tnaw_i%c85"
export DJANGO_SETTINGS_MODULE=mars_weather.settings
