/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    
    .visible-desktop {
        display: none;
    }
    
    .hidden-desktop {
        display: block;
    }
    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .container {
        width: 740px;
    }
    
    section.stars .stars_inner {
        padding-top: 40px;
    }
    
    .right_content {
        width: 270px;
    }
    
    .right_content .phone {
        top: 130px;
    }
    
    .left_content {
        width: 400px;
    }
    
    footer .item {
        padding-right: 34px;
    }
    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
    .navigation .description {
        float: none;
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    
    .navigation .logo {
        display: block;
        margin: 0 auto;
        float: none;
    }
    
    section.stars {
        height: auto;
    }
    
    section.stars .stars_inner {
        padding: 30px 0 10px;
    }
    
    .right_content {
        display: none;
    }
    
    .left_content {
        float: none;
        width: 100%;
    }
    
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .container, .rover_image, .logo_bar {
        width: 460px;
    }
    
    .navigation {
        height: 260px;
    }
    
    .navigation .description .nav {
        width: 376px;
        margin: 5px auto 0;
    }
    
    .get_started {
        top: 147px;
    }
    
    .logo_bar .item {
        padding-right: 10px;
        width: 145px;
    }
    
    footer .item {
        height: 80px;
        width: 180px;
    }
    
    footer .item.last {
        float: left;
    }
    
    footer .item p {
        padding-top: 10px;
    }
    
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
    .container, .rover_image, .logo_bar{
        width: 300px;
    }
    
    .navigation {
        height: 335px;
    }
    
    .navigation .description {
        padding-top: 20px;
    }
    
    .navigation .description .nav {
        width: 100%;
        margin: 5px auto 0;
    }
    
    .navigation .description .nav li {
        float: none;
        text-align: center;
        margin: 0;
        padding: 7px 0;
    }
    
    .navigation .description .nav li.divider {
        display: none;
    }
    
    .get_started {
        display: none;
    }
    
    .logo_bar .item, .logo_bar .item.last {
        float: none;
        padding: 10px 0;
        width: 150px;
        margin: 0 auto;
    }
    
    section.content .button {
        font-size: 17px;
    }
    
    footer .item, footer .item.last {
        float: none;
        padding: 10px 0;
        width: 140px;
        margin: 0 auto;
    }
    
    footer .item p {
        padding: 0;
    }
    
}